<js>
	<script type="text/javascript" th:src="@{/jquery-3.6.0/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap-4.6.0-dist/js/bootstrap.bundle.js}"></script>
	<script type="text/javascript" th:src="@{/js/GctoolsUtil.js}"></script>
	<script type="text/javascript" th:src="@{/js/Filter.js}"></script>
	<script type="text/javascript" th:src="@{/js/RepoChanges.js}"></script>
	<script type="text/javascript" th:src="@{/js/ReleaseNotes.js}"></script>
	<script type="text/javascript">
	let gctoolsUtil = new GctoolsUtil();
	let repoChanges = new RepoChanges();
	let releaseNotes = new ReleaseNotes();
	</script>
</js>